.DS_Store

# binaries
# */bin/*

# backups
*~

# R/C files
*.o
*.so


# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
*.RData

# plots
*.pdf

# tar zips
*.tar.gz

test/
todo_glm.txt
